
body{
    margin: 0;
    padding: 0;
    background-color: rgb(154, 217, 251);
}

#box{

    height: 100vh;
    width: 100vw;

    background-color: darkkhaki;

    display: flex;
    justify-content: center;
    align-items: center;
}
