body {
    margin: 0;
    padding: 0;

}

#box {

    height: 100vh;
    width: 100vw;
    background-color: rgb(154, 217, 251);
    display: flex;
    justify-content: center;
    align-items: center;
}

.a {

    height: 4em;
    width: 4em;
    background-color: blue;
}
.a {

    height: 4em;
    width: 4em;
    background-color: blue;
}
.a {

    height: 4em;
    width: 4em;
    background-color: blue;
}
.a {

    height: 4em;
    width: 4em;
    background-color: blue;
}
.a {

    height: 4em;
    width: 4em;
    background-color: blue;
}
.a {

    height: 4em;
    width: 4em;
    background-color: blue;
}
.a {

    height: 4em;
    width: 4em;
    background-color: blue;
}
.a {

    height: 4em;
    width: 4em;
    background-color: blue;
}
.a {

    height: 4em;
    width: 4em;
    background-color: blue;
}
.a {

    height: 4em;
    width: 4em;
    background-color: blue;
}